@use 'variables' as var; // Importing variables for use in mixins

// Mixin for phone breakpoint (for screens equal to or larger than 480px)
@mixin phone {
  @media (min-width: var.$phone) {
    @content; // Styles that will apply for phone viewports
  }
}

// Mixin for tablet breakpoint (for screens equal to or larger than 768px)
@mixin tablet {
  @media (min-width: var.$tablet) {
    @content; // Styles that will apply for tablet viewports
  }
}

// Mixin for desktop breakpoint (for screens equal to or larger than 1200px)
@mixin desktop {
  @media (min-width: var.$desktop) {
    @content; // Styles that will apply for desktop viewports
  }
}

// Mixin for extra large desktop breakpoint (for screens equal to or larger than 1400px)
@mixin desktopXL {
  @media (min-width: var.$desktopXL) {
    @content; // Styles that will apply for extra large desktop viewports
  }
}

// General container mixin with a max width and center alignment
@mixin container {
  width: 95%; // Sets width to 95% of the container
  max-width: 120rem; // Limits maximum width to 120rem
  margin: 0 auto; // Centers the container horizontally
}

// Grid mixin for flexible columns and gap
@mixin grid($columns: 1, $gap: 5rem) {
  display: grid;// Sets the display to grid layout
  grid-template-columns: repeat($columns, 1fr); // Define the number of columns
  gap: $gap; // Space between the columns
}

// Mixin to reset list styles
@mixin reset-list {
  margin: 0; // Resets margin to 0
  padding: 0; // Resets padding to 0
  list-style: none; // Removes default list styling
}  