// Defining the main font to be used throughout the project
$main_font: "Montserrat", sans-serif;

// Defining the color palette for the project
$green: #4CB8B3;    // Primary accent color
$rouse: #F53756;    // Secondary accent color
$yellow: #fdda00;   // Highlight or attention-grabbing color
$purple: #752F97;   // Deep color for buttons or backgrounds
$black: #000000;    // Standard black for text or background
$white: #FFFFFF;    // White, mainly for text contrast

// Breakpoints for media queries
$phone: 480px;      // Phone screen size
$tablet: 768px;     // Tablet screen size
$desktop: 1200px;   // Desktop screen size
$desktopXL: 1400px; // Extra-large desktop screen size

