@use 'base/variables' as var; // Import variables from base for consistent styling
@use 'base/mixins' as mix; // Import mixins for reusable styles


// Footer styling
.footer {
  background-color: var.$rose; // Set footer background color
  padding: 2rem 0; // Add vertical padding

  p {
    margin: 0; // Remove default margin for paragraph elements
    color: var.$white; // Set text color to white
    text-align: center; // Center-align text within paragraphs
  }
}

.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(var.$black, 0.5);
   
}
