// Use @use when you want to access a specific variable from another module.
// Use @forward when you want to import all styles from a module that doesn't have variables.

@use 'base/variables' as var; // Import variables from the base/variables file

@use 'base/mixins' as mix;  // Import variables from the 'layout/mixins' file

.header {
  // Set the background color of the header using a variable
  background-color: var.$green;

  @include mix.tablet {
    &.fixed {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      box-shadow: .1rem .2rem 3rem #333;
    }
  }

  // Nesting styles for the header container
  .header-container {
    padding: 2rem; // Add padding around the container

      // Include responsive mixins for different breakpoints
    @include mix.tablet {
      display: flex; // Use flexbox for layout
      justify-content: space-between; // Space out children evenly
      align-items: center; // Align items vertically center      
    }
  }

  h1 {
    color: var.$white; // Set the color of the heading using a variable
    text-align: center;
    // Include responsive mixins for different breakpoints
    @include mix.tablet{
      margin: 0; // Remove default margin
      text-align: left;

    }
  }
}


// Styles for the main navigation
.main-nav {
  display: flex; // Use flexbox for the navigation
  gap: 2rem; // Space between navigation items
  flex-direction: column;
  align-items: center;
  
  @include mix.tablet{
    flex-direction: row;
  }

  a {
    color: var.$white; // Set the link color using a variable
    //text-decoration: none; // Remove underline from links for better appearance
    //padding: 0.5rem 1rem; // Add padding around links
    //transition: color 0.3s; // Smooth transition for color changes on hover
    font-size: 2.4rem;

    // Define hover and active state styling for links
    &:hover, // When the user hovers over the link
    &.active { // When the link is marked as active
    color: var.$yellow; // Change color to yellow for better UX feedback
}
  }
}